*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bellyn";
  src: url(./assets/fonts/Bellyn.woff);
}

.body {
  background: rgb(31, 37, 45);
}

.header__title {
  font-family: Bellyn, sans-serif;
  font-weight: 100;
  font-size: 3.5em;
  color: rgb(40, 208, 126);
  min-width: 100%;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 3px;
}

.img-profil {
  min-width: 100%;
}

.header__image {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px auto;
}

.maintenance {
  min-width: 100%;
  min-height: 100%;
}

.maintenance__title {
  font-family: Bellyn, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 240, 76);
}

i {
  color: rgb(255, 240, 76);
}
