*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bellyn";
  src: url(./assets/fonts/Bellyn.woff);
}

.body {
  background: rgb(60, 80, 105);
}

.header {
  display: flex;
  width: 100vw;
  border-bottom: 2px solid rgb(120, 204, 163);
}

.header__title {
  min-width: 50%;
  font-family: Bellyn, sans-serif;
  font-size: 3.5em;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(120, 204, 163);
  background: rgb(52, 68, 87);
}

.header__title--all-projects {
  min-width: 100%;
  padding: 10px;
  font-family: Bellyn, sans-serif;
  font-size: 3.5em;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(120, 204, 163);
  background: rgb(52, 68, 87);
}

.header__title span {
  font-size: 1.5em;
}

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border-left: 2px dashed rgb(120, 204, 163);
  background: rgb(52, 68, 87);
}
.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-bar-link {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.nav-bar-link:hover {
  color: rgb(120, 204, 163);
  transform: scale(1.2);
}

.maintenance {
  display: none;
  min-width: 100%;
  min-height: 100%;
}

.maintenance__title {
  font-family: Bellyn, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 240, 76);
}

i {
  color: rgb(255, 240, 76);
}
