*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(64, 64, 64);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  min-width: 100%;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Noto Serif JP", serif;
}

.img-profil {
  min-width: 100%;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 3000px;
  height: 150px;
}

.maintenance {
  min-width: 100%;
  min-height: 100%;
}

h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 240, 76);
}

i {
  color: rgb(255, 240, 76);
}
