* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "pre b" "pro d" "int f" "lan h" "com j";
}

ul {
  list-style: none;
  padding: 20px;
  line-height: 30px;
}

img {
  border-radius: 150px;
  border: 3px solid white;
}

.presentation {
  grid-area: pre;
  text-align: center;
  padding: 20px;
  background: rgba(1, 63, 1, 0.732);
  color: white;
}

.freelance {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.profil {
  grid-area: pro;
  margin: 25px 0 0 25px;
}

h2 {
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.459);
}

h2::after {
  border-width: 2px solid black 80%;
}

.interet {
  grid-area: int;
  margin: 25px 0 0 25px;
}

.langue {
  grid-area: lan;
  margin: 25px 0 0 25px;
}

.competence {
  grid-area: com;
  margin: 25px 0 0 25px;
}
